<!DOCTYPE html>
<html>
<head>
    <title>index.html</title>
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="this is my page">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
</head>
<style type="text/css">
    .divcss5{text-align:center}
    .header{
        -webkit-animation:rotateImg 1s linear infinite;
        width: 80%;
        height: 80%;
        border: 1px solid #ccc;
        vertical-align: middle;
    }

    @keyframes rotateImg {
        0% {transform : rotate(0deg);}
        100% {transform : rotate(360deg);}
    }

    @-webkit-keyframes rotateImg {
        0%{-webkit-transform : rotate(0deg);}
        100%{-webkit-transform : rotate(360deg);}
    }
</style>

<body>
<div class="divcss5">
    <img class="header" src="https://imgsa.baidu.com/forum/w%3D580/sign=75fa5edb4b10b912bfc1f6f6f3fcfcb5/5623f7d3572c11df1107a6436f2762d0f503c2f2.jpg"/>
</div>
</body>
</html>